# .gitignore

/checkpoints/
/data/
/results/
/build/
/src/scripts/
/src/benchmarks

/src/lm/dplm
/src/lm/evodiff
/src/lm/dplm_playground.ipynb
/src/lm/evoflow_playground.ipynb
/src/utils/ubuntu_font

/MeMDLM_v2.egg-info/
*.pth
*.ckpt
*.err
*.out
*.csv
*.ipynb
*.png
__pycache__/
